<!DOCTYPE html>
<html>
	<head>
		<meta charset=utf-8>
    <title>ss</title>
		<script
		src="https://code.jquery.com/jquery-1.12.4.min.js"
		integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
		crossorigin="anonymous"></script>
		<script src="/three.min.js"></script>
		<script src="/OBJLoader.js"></script>
		<script src="/OrbitControls.js"></script>
		<!-- http://blog.teamtreehouse.com/the-beginners-guide-to-three-js -->
		<!-- http://bl.ocks.org/chrisbrasington/fcf701b424256d671c95 -->
		<script>
		</script>
	</head>
	<body>
		
	</body>
</html>
